<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Image + Story Generator</title>
</head>

<body>
    <form action="/" enctype="multipart/form-data" method="POST">
        <input name="img" type="file" />
        <input type="submit" value="Envoyer" />
    </form>

    {% if img %}
    <h2>Image envoyée :</h2>
    <img src="{{ img }}" width="300">

    {% endif %}

    {% if story %}
    <h2>Histoire générée :</h2>
    <p>{{ story }}</p>
    {% endif %}

</body>

</html>